asgiref==3.6.0
brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
cryptography==39.0.1
Django==4.1.4
django-ebhealthcheck==2.0.2
django-environ==0.9.0
gunicorn==20.1.0
idna==3.4
pip==23.0.1
pycparser==2.21
pyOpenSSL==23.0.0
PySocks==1.7.1
requests==2.28.1
setuptools==65.6.3
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.15
virtualenv==16.7.5
wheel==0.38.4
whitenoise==6.3.0
win-inet-pton==1.1.0
wincertstore==0.2
